<h2 style="text-align: center">File Upload</h2>
<form #uploadForm="ngForm" name="uploadForm" method="post" enctype="multipart/form-data" action="api/upload">
  <div class="form-group">
    <label class="font-weight-bold">
      File Title:
      <input type="text" class="form-control font-weight-normal" id="title" required
             [(ngModel)]="fileInfo.title" name="title"
             #title="ngModel" onClick="this.setSelectionRange(0, this.value.length)">
    </label>
  </div>
  <div class="form-group">
    <label class="font-weight-bold">
      Uploader Username:
      <!--<input type="text" class="form-control" id="uploaderInfo" required
         [(ngModel)]="fileInfo.uploaderInfo.username" name="uploaderInfo"
         #uploaderInfo="ngModel" onClick="this.setSelectionRange(0, this.value.length)">-->
      <p style="width: 202px" class="font-weight-normal">{{fileInfo.uploaderInfo.username}}</p>
    </label>
  </div>
  <div class="form-group">
    <label class="font-weight-bold">
      Uploader Name:
      <p style="width: 202px" class="font-weight-normal">{{fileInfo.uploaderInfo.firstName}} {{fileInfo.uploaderInfo.lastName}}</p>
    </label>
  </div>
  <div class="form-group">
    <label class="font-weight-bold">
      Description:
      <input type="text" class="form-control font-weight-normal" id="description"
             [(ngModel)]="fileInfo.description" name="description"
             #description="ngModel" onClick="this.setSelectionRange(0, this.value.length)" placeholder="description">
    </label>
  </div>
  <div class="form-group">
    <input #fileInput class="form-control" type="file" />
  </div>


  <button type="button" class="btn btn-success" (click)="upload()">Upload</button>
</form>



<app-files></app-files>
