<h2 style="text-align: center">Hero Details</h2>
<div class="container" *ngIf="hero">
  <div class="form-group">
    <label class="font-weight-bold">Id:</label>
    <a class="badge badge-light display-1" style="font-size: 150%">{{hero.id}}</a>
  </div>
  <div class="form-group">
    <label class="font-weight-bold">
      Name:
    </label>
    <input type="text" class="form-control" [(ngModel)]="hero.name" placeholder="name">
  </div>
  <div class="form-group">
    <label class="font-weight-bold">
      Power:
    </label>
    <input type="text" class="form-control" [(ngModel)]="hero.power" placeholder="power">
  </div>
  <div class="form-group">
    <label class="font-weight-bold">
      Identity:
    </label>
    <input type="text" class="form-control" [(ngModel)]="hero.identity" placeholder="identity">
  </div>


  <button type="button" class="btn btn-success" (click)="save()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>

</div>
