<br />
<div class="container">
  <label>Search</label>
  <input type="search" class="form-control" id="search" required maxlength="80"
         [(ngModel)]="searchTerm" name="search" />
  <button class="btn btn-primary" (click)="searchFiles()">Search</button>
</div>
<div>
  <label>Search Results</label>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let file of fileDataList" >
      <a>{{file.id}}</a>
      <a href="http://localhost:60525/api/file/download/{{file.id}}">{{file.originalFileName}}</a>
      <button class="btn btn-secondary" (click)="deleteFile(file)">X</button>
    </li>
  </ul>
</div>
