<div class="form-group">
  <h4>Hero Search</h4>

  <input class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" />
</div>
<div class="form-group">
  <ul class="list-group">
    <li class="list-group-item list-group-item-action text-success font-weight-bold" style="font-size: 150%"
        *ngFor="let hero of heroes$ | async" routerLink="/detail/{{hero.id}}">
        <span class="badge badge-dark badge-pill">{{hero.id}}</span><a style="margin-left: 1em">{{hero.name}}</a>
    </li>
  </ul>
</div>
